node_modules/
**/node_modules/
dist/
**/dist/
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.vercel/
**/.vercel/
venv/
**/venv/
__pycache__/
**/__pycache__/
.pytest_cache/
**/.pytest_cache/
*.pyc
*.pdf
